ul {
  list-style: none;
}

.rating {
  margin-bottom: 65px;
  margin-left: 200px;
}

.submit-review {
  background-color: #ffcc00;
  border-radius: 10px;
  margin-top: 15px;
}

.input-text {
  border-radius: 10px;
  margin-top: 20px;
}
.select-stars {
  margin-top: 20px;
  border-radius: 10px;
}
