.map {
    width: 75%;
    margin: '0 auto'
}
.marker{
    background: none;
    border: none;
    cursor: pointer;
}
.marker img {
    width: 33px;
    height: 33px;
}
.navigation-control {
    position: absolute;
    left: 0;
}
.restaurant-image {
    width: 350px;
    height: 200px;
}
.restaurant-title {
    text-align: center;
}
