.section {
    margin-top: 10px;
    padding-top: 10px;
    color: white;
    border: thick double yellow ;
    background-color: #de0d79;
    border-radius: 30px;
    text-align: center;
}

.sublist {
    height: 800px;
    overflow-x: hidden; 
    overflow-y: auto;
}

ul {
    list-style: none;
}